APP_NAME=requests-service
APP_HOST=0.0.0.0
APP_PORT=50054
LOG_LEVEL=info

REQUEST_TIMEOUT=5s

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=requests
POSTGRES_SSLMODE=disable

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
